[submodule "betty"]
	path = betty
	url = git@github.com:pickhardt/betty.git
[submodule "cast"]
	path = cast
	url = git@github.com:pannous/cast.git
[submodule "angle"]
	path = angle
	url = git@github.com:pannous/angle.git
[submodule "angelos/cast"]
	path = angelos/cast
	url = git@github.com:pannous/cast.git
[submodule "english-script-samples"]
	path = english-script-samples
	url = git@github.com:pannous/english-script-samples.git
[submodule "samples"]
	path = samples
	url = git@github.com:pannous/english-script-samples.git
# git submodule sync