[submodule "betty"]
	path = betty
	url = git@github.com:pickhardt/betty.git
[submodule "cast"]
	path = kast
	url = git@github.com:pannous/cast.git
[submodule "angle"]
	path = angle
	url = git@github.com:pannous/angle.git
[submodule "samples"]
	path = samples
	url = git@github.com:pannous/english-script-samples.git
# git submodule sync